{% extends 'register/index.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <h4 class="text-center alert alert-info">ADD AND SEE</h4>
            <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class='btn btn-success' value="Add">
            </form>
        </div>
        <div class="col-sm-8">
            <h4 class="text-center alert alert-danger">STUDENT INFORMATION</h4>
            {% if student %}
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">NAME</th>
                      <th scope="col">EMAIL</th>
                      <th scope="col">PASSWORD</th>
                      <th scope="col">MODIFY</th>
                      <th scope="col">DELETE</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for x in student %}
                    <tr>
                      <th scope="row">{{x.id}}</th>
                      <td>{{ x.name }}</td>
                      <td>{{x.email}}</td>
                      <td>{{x.password}}</td>
                      <td><form action="{% url 'update' x.id %}" class='d-inline' method="post">
                        {% csrf_token %}
                          <input type="submit" class='btn btn-primary btn-sm' value="UPDATE">
                      </form></td>
                      <td>
                          <form action="{% url 'deletedata' x.id %}" class='d-inline' method="post">
                            {% csrf_token %}
                              <input type="submit" class='btn btn-danger btn-sm' value="Delete">
                          </form>
                      </td>                      
                    </tr>
                    {% endfor %}
                  </tbody>    
            </table>            
              {% else %}
            <h4>NO DATA</h4>    
            {% endif %}
        </div>
    </div>
{% endblock content %}
