{% extends 'register/index.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h4 class="alert alert-info">STUDENT INFORMATION UPDATE</h4>
            <form action="" method="post">
                {% csrf_token %}
                {{fm.as_p}}
                <input type="submit" class="btn btn-success" value="UPDATE">
                <a href="{% url 'add_show' %}" class="btn btn-danger">BACK TO HOME</a>
            </form>

    </div>
</div>
{% endblock content %}
